<form action="{{ url_for("makeRecommendation")}}" method="post">
    <label for="username">Your username:</label>
    <input type="text" id="username" name="username" placeholder="Username" />
    <label for="friend_username">Friend username:</label>
    <input type="text" id="friend_username" name="friend_username" placeholder="friend_username" />
    <label for="movie-title">Movie:</label>
    <input type="text" id="movie-title" name="movie-title" placeholder="movie-title" />
    <button type="submit">Send</button>
    