@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll-posters {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-posters {
  display: flex;
  animation: scroll-posters 30s linear infinite;
}
